---
name: "Integration tests"
on:
  push:
  pull_request:
    branches:
      - master
jobs:
  check_cni:
    strategy:
      matrix:
        cni: [calico, cilium]
      fail-fast: false
    name: Check CNI install
    runs-on: ubuntu-22.04
    continue-on-error: true
    steps:
      - uses: actions/setup-go@v3
        with:
          go-version: '^1.24.3'
      - run: go version
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Build and install k8s-toolbox
        run: |
          go install .
      - name: Install k8s using kind
        run: |
          ktbx install kind
          ktbx install helm
          ktbx create --single -c ${{ matrix.cni }}
          kubectl get pods -n kube-system
          kubectl get nodes
      - name: Start and test nginx
        run: |
          ./e2e/run-nginx.sh
  check_argo:
    name: Check argoCD install
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/setup-go@v3
        with:
          go-version: '^1.24.3'
      - run: go version
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Build and install k8s-toolbox
        run: |
          go install .
      - name: Install k8s using kind
        run: |
          ktbx install kind
          ktbx create --single
          kubectl get pods -n kube-system
          kubectl get nodes
      - name: Install olm and argocd
        run: |
          ktbx install olm
          ktbx install argocd
      - name: Run argocd example application
        run: |
          kubectl config set-context --current --namespace=argocd
          argocd login --core
          argocd app create apps --dest-namespace argocd --dest-server https://kubernetes.default.svc \
            --repo https://github.com/argoproj/argocd-example-apps.git --path apps
          argocd app sync apps
      - name: Install argo-workflows
        run: |
          ktbx install argowf
  check_audit_logs:
    name: Enable api server audit log
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/setup-go@v3
        with:
          go-version: '^1.24.3'
      - run: go version
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Build and install k8s-toolbox
        run: |
          go install .
      - name: Install k8s using kind
        run: |
          ktbx install kind
          mkdir $HOME/.ktbx
          cp ./e2e/dot-config-audit $HOME/.ktbx/config
          cp ./e2e/audit-policy.yaml /tmp/audit-policy.yaml
          ktbx create
          kubectl get pods -n kube-system
          kubectl get nodes
      - name: Check audit logs
        run: |
          docker exec -t -- kind-control-plane  cat /var/log/kubernetes/kube-apiserver-audit.log
